<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="css/bootstrap.min.css" />
<title>Insert title here</title>
</head>
<body>

	<div th:replace=" fragments/header :: navbar"></div>

	<table class="table" style="text-align: center">
		<caption style="text-align: center">You are updating this
			record</caption>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<tr>
			<td th:text="${adminobj.id}"></td>
			<td th:text="${adminobj.name}"></td>
			<td th:text="${adminobj.email}"></td>
		</tr>
	</table>

	<h1>Enter updated info below</h1>

	<form action="updateAdmin" method="post" th:object="${adminobj}">

		<label class="form-label"> Name</label> <input type="text" name="name"
			required="required" class="form-control"><br> <label
			class="form-label">Password</label> <input type="password"
			name="password" required="required" class="form-control"><br>
		<input type="hidden" name="email" th:value="${adminobj.email}" /> <input
			type="submit" value="Update" class="btn btn-primary">
	</form>
	<br>
	<br>
	<br>

	<script type="text/javascript" src="js/bootstrap.min.js"></script>

</body>
</html>